* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {}

li {
  list-style: none;
}

.clearfix::before {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}